<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen17.mapper.ErrTableDao">
  <resultMap id="BaseResultMap" type="com.chen17.domain.ErrTable">
    <id column="errortable_id" jdbcType="INTEGER" property="errortableId" />
    <result column="errortable_county" jdbcType="VARCHAR" property="errortableCounty" />
    <result column="errortable_dianweiname" jdbcType="VARCHAR" property="errortableDianweiname" />
    <result column="errortable_haikangpname" jdbcType="VARCHAR" property="errortableHaikangpname" />
    <result column="errortable_haixinpname" jdbcType="VARCHAR" property="errortableHaixinpname" />
    <result column="errortable_device_type" jdbcType="VARCHAR" property="errortableDeviceType" />
    <result column="errortable_belong_paltform" jdbcType="VARCHAR" property="errortableBelongPaltform" />
    <result column="errortable_device_ip" jdbcType="VARCHAR" property="errortableDeviceIp" />
    <result column="errortable_maintenance" jdbcType="VARCHAR" property="errortableMaintenance" />
    <result column="errortable_device_expriation" jdbcType="VARCHAR" property="errortableDeviceExpriation" />
    <result column="errortable_repair_status" jdbcType="VARCHAR" property="errortableRepairStatus" />
    <result column="errortable_faultclassification" jdbcType="VARCHAR" property="errortableFaultclassification" />
    <result column="errortable_show" jdbcType="VARCHAR" property="errortableShow" />
    <result column="errortable_lastestcheck_time" jdbcType="VARCHAR" property="errortableLastestcheckTime" />
    <result column="errortable_request_time" jdbcType="TIMESTAMP" property="errortableRequestTime" />
    <result column="errortable_note" jdbcType="VARCHAR" property="errortableNote" />
  </resultMap>
  <sql id="Base_Column_List">
    errortable_id, errortable_county, errortable_dianweiname, errortable_haikangpname, 
    errortable_haixinpname, errortable_device_type, errortable_belong_paltform, errortable_device_ip, 
    errortable_maintenance, errortable_device_expriation, errortable_repair_status, errortable_faultclassification, 
    errortable_show, errortable_lastestcheck_time, errortable_request_time, errortable_note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from err_table
    where errortable_id = #{errortableId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from err_table
    where errortable_id = #{errortableId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="errortable_id" keyProperty="errortableId" parameterType="com.chen17.domain.ErrTable" useGeneratedKeys="true">
    insert into err_table (errortable_county, errortable_dianweiname, 
      errortable_haikangpname, errortable_haixinpname, 
      errortable_device_type, errortable_belong_paltform, 
      errortable_device_ip, errortable_maintenance, 
      errortable_device_expriation, errortable_repair_status, 
      errortable_faultclassification, errortable_show, 
      errortable_lastestcheck_time, errortable_request_time, 
      errortable_note)
    values (#{errortableCounty,jdbcType=VARCHAR}, #{errortableDianweiname,jdbcType=VARCHAR}, 
      #{errortableHaikangpname,jdbcType=VARCHAR}, #{errortableHaixinpname,jdbcType=VARCHAR}, 
      #{errortableDeviceType,jdbcType=VARCHAR}, #{errortableBelongPaltform,jdbcType=VARCHAR}, 
      #{errortableDeviceIp,jdbcType=VARCHAR}, #{errortableMaintenance,jdbcType=VARCHAR}, 
      #{errortableDeviceExpriation,jdbcType=VARCHAR}, #{errortableRepairStatus,jdbcType=VARCHAR}, 
      #{errortableFaultclassification,jdbcType=VARCHAR}, #{errortableShow,jdbcType=VARCHAR}, 
      #{errortableLastestcheckTime,jdbcType=VARCHAR}, #{errortableRequestTime,jdbcType=TIMESTAMP}, 
      #{errortableNote,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="errortable_id" keyProperty="errortableId" parameterType="com.chen17.domain.ErrTable" useGeneratedKeys="true">
    insert into err_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="errortableCounty != null">
        errortable_county,
      </if>
      <if test="errortableDianweiname != null">
        errortable_dianweiname,
      </if>
      <if test="errortableHaikangpname != null">
        errortable_haikangpname,
      </if>
      <if test="errortableHaixinpname != null">
        errortable_haixinpname,
      </if>
      <if test="errortableDeviceType != null">
        errortable_device_type,
      </if>
      <if test="errortableBelongPaltform != null">
        errortable_belong_paltform,
      </if>
      <if test="errortableDeviceIp != null">
        errortable_device_ip,
      </if>
      <if test="errortableMaintenance != null">
        errortable_maintenance,
      </if>
      <if test="errortableDeviceExpriation != null">
        errortable_device_expriation,
      </if>
      <if test="errortableRepairStatus != null">
        errortable_repair_status,
      </if>
      <if test="errortableFaultclassification != null">
        errortable_faultclassification,
      </if>
      <if test="errortableShow != null">
        errortable_show,
      </if>
      <if test="errortableLastestcheckTime != null">
        errortable_lastestcheck_time,
      </if>
      <if test="errortableRequestTime != null">
        errortable_request_time,
      </if>
      <if test="errortableNote != null">
        errortable_note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="errortableCounty != null">
        #{errortableCounty,jdbcType=VARCHAR},
      </if>
      <if test="errortableDianweiname != null">
        #{errortableDianweiname,jdbcType=VARCHAR},
      </if>
      <if test="errortableHaikangpname != null">
        #{errortableHaikangpname,jdbcType=VARCHAR},
      </if>
      <if test="errortableHaixinpname != null">
        #{errortableHaixinpname,jdbcType=VARCHAR},
      </if>
      <if test="errortableDeviceType != null">
        #{errortableDeviceType,jdbcType=VARCHAR},
      </if>
      <if test="errortableBelongPaltform != null">
        #{errortableBelongPaltform,jdbcType=VARCHAR},
      </if>
      <if test="errortableDeviceIp != null">
        #{errortableDeviceIp,jdbcType=VARCHAR},
      </if>
      <if test="errortableMaintenance != null">
        #{errortableMaintenance,jdbcType=VARCHAR},
      </if>
      <if test="errortableDeviceExpriation != null">
        #{errortableDeviceExpriation,jdbcType=VARCHAR},
      </if>
      <if test="errortableRepairStatus != null">
        #{errortableRepairStatus,jdbcType=VARCHAR},
      </if>
      <if test="errortableFaultclassification != null">
        #{errortableFaultclassification,jdbcType=VARCHAR},
      </if>
      <if test="errortableShow != null">
        #{errortableShow,jdbcType=VARCHAR},
      </if>
      <if test="errortableLastestcheckTime != null">
        #{errortableLastestcheckTime,jdbcType=VARCHAR},
      </if>
      <if test="errortableRequestTime != null">
        #{errortableRequestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="errortableNote != null">
        #{errortableNote,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chen17.domain.ErrTable">
    update err_table
    <set>
      <if test="errortableCounty != null">
        errortable_county = #{errortableCounty,jdbcType=VARCHAR},
      </if>
      <if test="errortableDianweiname != null">
        errortable_dianweiname = #{errortableDianweiname,jdbcType=VARCHAR},
      </if>
      <if test="errortableHaikangpname != null">
        errortable_haikangpname = #{errortableHaikangpname,jdbcType=VARCHAR},
      </if>
      <if test="errortableHaixinpname != null">
        errortable_haixinpname = #{errortableHaixinpname,jdbcType=VARCHAR},
      </if>
      <if test="errortableDeviceType != null">
        errortable_device_type = #{errortableDeviceType,jdbcType=VARCHAR},
      </if>
      <if test="errortableBelongPaltform != null">
        errortable_belong_paltform = #{errortableBelongPaltform,jdbcType=VARCHAR},
      </if>
      <if test="errortableDeviceIp != null">
        errortable_device_ip = #{errortableDeviceIp,jdbcType=VARCHAR},
      </if>
      <if test="errortableMaintenance != null">
        errortable_maintenance = #{errortableMaintenance,jdbcType=VARCHAR},
      </if>
      <if test="errortableDeviceExpriation != null">
        errortable_device_expriation = #{errortableDeviceExpriation,jdbcType=VARCHAR},
      </if>
      <if test="errortableRepairStatus != null">
        errortable_repair_status = #{errortableRepairStatus,jdbcType=VARCHAR},
      </if>
      <if test="errortableFaultclassification != null">
        errortable_faultclassification = #{errortableFaultclassification,jdbcType=VARCHAR},
      </if>
      <if test="errortableShow != null">
        errortable_show = #{errortableShow,jdbcType=VARCHAR},
      </if>
      <if test="errortableLastestcheckTime != null">
        errortable_lastestcheck_time = #{errortableLastestcheckTime,jdbcType=VARCHAR},
      </if>
      <if test="errortableRequestTime != null">
        errortable_request_time = #{errortableRequestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="errortableNote != null">
        errortable_note = #{errortableNote,jdbcType=VARCHAR},
      </if>
    </set>
    where errortable_id = #{errortableId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chen17.domain.ErrTable">
    update err_table
    set errortable_county = #{errortableCounty,jdbcType=VARCHAR},
      errortable_dianweiname = #{errortableDianweiname,jdbcType=VARCHAR},
      errortable_haikangpname = #{errortableHaikangpname,jdbcType=VARCHAR},
      errortable_haixinpname = #{errortableHaixinpname,jdbcType=VARCHAR},
      errortable_device_type = #{errortableDeviceType,jdbcType=VARCHAR},
      errortable_belong_paltform = #{errortableBelongPaltform,jdbcType=VARCHAR},
      errortable_device_ip = #{errortableDeviceIp,jdbcType=VARCHAR},
      errortable_maintenance = #{errortableMaintenance,jdbcType=VARCHAR},
      errortable_device_expriation = #{errortableDeviceExpriation,jdbcType=VARCHAR},
      errortable_repair_status = #{errortableRepairStatus,jdbcType=VARCHAR},
      errortable_faultclassification = #{errortableFaultclassification,jdbcType=VARCHAR},
      errortable_show = #{errortableShow,jdbcType=VARCHAR},
      errortable_lastestcheck_time = #{errortableLastestcheckTime,jdbcType=VARCHAR},
      errortable_request_time = #{errortableRequestTime,jdbcType=TIMESTAMP},
      errortable_note = #{errortableNote,jdbcType=VARCHAR}
    where errortable_id = #{errortableId,jdbcType=INTEGER}
  </update>
</mapper>